.App {
  text-align: center;
  background-color: #494a4e;
  background-repeat: repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Game-body {
  overflow: scroll;
  background-color: #494a4e;
  background-repeat: repeat;
}

.Mine-grid{
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.Mine-row {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.Box-logo {
  height: 45px;
}

.Genie-pic {
  height: 40px;
  padding-left:20px;
}

.Head-title {
  font-size: large;
}

.Head-pic {
  height: 55px;
}

.Header-pic {
  height: 35px;
  padding: 0 20px;
}

.Win-pic {
  height: 45px;
  padding: 0 20px;
}


.Start-pic {
  height: 40px;
}

.Header-title {
  padding: 20px;
}

.Game-input {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  color: white;
  background-color: #494a4e;
  font-size: x-large;
  padding:3px;
  box-shadow: 1px 1px white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #494a4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
